body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#predictions {
    margin-top: 30px;
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.prediction {
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}
